<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Weeler</title>
      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      
      <%= stylesheet_link_tag "weeler/init", :media => "all" %>
      <%= javascript_include_tag "weeler/init" %>
      
      <%= csrf_meta_tags %>

      <%= yield :weeler_header %>
    </head>

    <body <%= yield :weeler_body_tag %> >
      <%= render "header_navbar" %>

      <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">

          <%= render "side_navbar" %>

          <div class="col-xs-12 col-sm-9">
            <%= yield %>
          </div><!--/span-->
        </div><!--/row-->

        <hr>

        <%= render "footer" %>

      </div><!--/.container-->
      <%= render "flash" %>
    </body>

</html>