!!! 5
%html
  %head
    %title= Weeler
    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag "weeler/init", :media => "all"
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin-ext', rel: 'stylesheet', type: 'text/css'}
    = javascript_include_tag "weeler/init"
    = csrf_meta_tags
    = yield :weeler_header

  %body{data: {controller: controller_name, action: action_name, name_space: 'weeler', tag: "#{yield :weeler_body_tag}" }}
    = render "header_navbar"
    .container
      .row.row-offcanvas.row-offcanvas-right
        = render "side_navbar"
        #content.col-xs-12.col-sm-9
          = yield
        %hr
        = render "footer"
      = render "flash"