#content
  %h2 All #{item_humanized_name} items
  %h6
    - path_options = {} if path_options.nil?

    = link_to "click here to add a new #{item_humanized_name} item", {action: :new}.merge(path_options)

  - if collection.count < 1
    .no_news
      = "Sorry, It seams there are no #{collection.klass.to_s.underscore.humanize.downcase} items at this moment.. "
      = link_to "press here to add a new #{collection.klass.to_s.underscore.humanize.downcase} item", {action: :new}.merge(path_options)

  - else
    - collection.each do |item|
      .list-group-item{:id => "order_#{item.id}"}
        %span
          - if defined? item.weeler_image_path
            = image_tag(item.weeler_image_path, style: "max-width: 75px")
          %b
            = truncate(item.to_s, length: 40)
        %span{class: "pull-right"}
          = link_to "Edit", action: :edit, id: item.id
          = link_to "Delete", [:weeler, item], data: {confirm: 'Are you sure?'}, :method => :delete
