- if defined? @seo
  %h4 SEO options
  %p Here you can adjust (override) Title and meta tags for current page

  = form_for @seo, html: {class: "form-vertical", role: "form"}, builder: GlobalizeFormBuilder  do |f|
    = f.hidden_field :section, :value => controller_name

    - I18n.available_locales.each do |lang|
      - if I18n.available_locales.size > 1
        %h3
          = lang.capitalize

      - f.globalize_fields_for lang do |g|
        .form-group
          .input-group
            = g.label :title, class: "input-group-addon"
            = g.text_field :title, :class => 'form-control'

        .form-group
          .input-group
            = g.label :description, class: "input-group-addon"
            = g.text_field :description, :class => 'form-control'

        .form-group
          .input-group
            = g.label :keywords, class: "input-group-addon"
            = g.text_field :keywords, :class => 'form-control'

    %p{class: "text-center"}
      = f.submit (action_name == 'new' ? 'Create seo' : 'Update seo'), class: "btn btn-primary"
