#content
  %h2 All #{item_humanized_name} items
  %h6
    - path_options = {} if path_options.nil?

    = link_to "click here to add a new #{item_humanized_name} item", {action: :new}.merge(path_options)

  - if collection.count < 1
    .no_news
      = "Sorry, It seams there are no #{item_humanized_name} items at this moment.. "
      = link_to "press here to add a new #{item_humanized_name} item", {action: :new}.merge(path_options)

  - else
    .sortable.list-group{data: {url: "#{url_for({action: :order}.merge(path_options)) }"} }
      - collection.each do |item|
        .list-group-item{:id => "order_#{item.id}"}
          %span
            - if defined? item.weeler_image_path
              = image_tag(item.weeler_image_path, style: "max-width: 75px")
            %b
              = raw item.to_s
          %span{class: "pull-right"}
            = link_to "Edit", edit_polymorphic_path([:weeler, item])
            - if !defined? item.fixed or !item.fixed
              - if @items.klass.new.has_attribute?(:active)
                - if item.active
                  = link_to "Disable", filter_options.merge({action: :activation, active: false, id: item.id}), data: {confirm: 'Are you sure?'}
                - else
                  = link_to "Activate", filter_options.merge({action: :activation, active: true, id: item.id}), data: {confirm: 'Are you sure?'}
              - else
                = link_to "Delete", [:weeler, item], :confirm => 'Are you sure?', :method => :delete