<tr>
  <td>
    <a href="">
      &nbsp;&nbsp;&nbsp;<%= translation.locale %>
    </a>
  </td>
  <td><%= translation.key %></a></td>
  <td><%= translation.value %></a></td>
  <td><%= translation.interpolations %></a></td>
  <td class="text-center"><%= translation.created_at.strftime("%d/%m/%Y") %></td>
</tr>