<div class="header container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Translations</h1>
        <p class="lead text-muted">Display I18n translations</p>
      </div>
      
    </div>
  </div>
</div>

<div class="row">
  <nav class="navbar navbar-default" role="navigation">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= (params[:group].capitalize if params[:group]) || "Groups" %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= weeler_translations_path(locale: params[:locale]) %>">All</a></li>
            <% @groups.each do |group| %>
            <% if group.present? %>
              <li><a href="<%= weeler_translations_path(locale: params[:locale], group: group) %>"><%= group.capitalize %></a></li>
            <% end %>
          <% end %>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" role="import" method="post" action="<%= import_weeler_translations_path %>" enctype="multipart/form-data">
      <%= form_tag import_weeler_translations_path, {:multipart => true, class: "navbar-form navbar-left"} do %>
          <div class="form-group fileupload fileupload-new" data-provides="fileupload">
            <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="file" /></span>
            <span class="fileupload-preview"></span>
            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
          </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-default">Import</button>
          <a class="btn btn-default" href="<%= export_weeler_translations_path(locale: params[:locale], group: params[:group], format: :xlsx) %>">Export</a>
        </div>
      <% end %>


      <ul class="nav navbar-nav navbar-right">
        <li class="<%= "active" if params[:locale].blank? %>">
          <a href="<%= weeler_translations_path(group: params[:group]) %>">ALL</a>
        </li>

        <% I18n::Backend::Weeler::Translation.available_locales.each do |locale| %>
          <% if locale.present? %>
          <li class="<%= "active" if (params[:locale].present? && params[:locale].to_s == locale.to_s) %>">
            <a href="<%= weeler_translations_path(locale: locale, group: params[:group]) %>"><%= locale.upcase %></a>
          </li>
          <% end %>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover" data-provides="rowlink">
        <thead>
          <tr>
            <th>Locale</th>
            <th>Key</th>
            <th class="text-center">Value</th>
            <th class="text-center">Interpolations</th>
            <th class="text-center">Created</th>
          </tr>
        </thead>
        <tbody>
          <% @translations.each do |translation| %>
            <%= render :partial => "weeler/translations/translation", locals: {translation: translation} %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= paginate @translations, params: {controller: "weeler/translations", action: "index", locale: params[:locale], group: params[:group] }, previous_label: "<<", next_label: ">>" %>
    </div>
  </div>
</div>