<div class="header">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Translations</h1>
        <p class="lead text-muted">Static translation data over all your app. You can safely edit translation values. Also you can export an excel document, translate to necessary locales and import it back.</p>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <nav class="navbar navbar-default" role="navigation">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <!-- Groups dropdown -->
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= (params[:group].capitalize if params[:group]) || "All groups" %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= weeler_translations_path(filtered_locale: params[:filtered_locale]) %>">All</a></li>
            <% @groups.each do |group| %>
            <% if group.present? %>
              <li><a href="<%= weeler_translations_path(filtered_locale: params[:filtered_locale], group: group) %>"><%= group.capitalize %></a></li>
            <% end %>
          <% end %>
          </ul>
        </li>
      </ul>

       <!-- Locales dropdown -->
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= (params[:filtered_locale].capitalize if params[:filtered_locale]) || "All locales" %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%= weeler_translations_path(group: params[:group]) %>">All</a></li>
            <% I18n.available_locales.each do |locale| %>
            <% if locale.present? %>
              <li><a href="<%= weeler_translations_path(group: params[:group], filtered_locale: locale) %>"><%= locale.capitalize %></a></li>
            <% end %>
          <% end %>
          </ul>
        </li>
      </ul>

      <!-- Import and export data -->
      <%= form_tag import_weeler_translations_path, {:multipart => true, class: "navbar-form navbar-left"} do %>
          <div class="form-group">
            <input type="file" name="file" class="weeler-file-inputs" /></span>
          </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-default">Import</button>
          <a class="btn btn-default" href="<%= export_weeler_translations_path(filtered_locale: params[:filtered_locale], group: params[:group], format: :xlsx) %>">Export</a>
        </div>
      <% end %>

      <!-- Search -->
      <%= form_tag weeler_translations_path, method: 'get', class: "navbar-form navbar-right", role: "search" do %>
        <%= hidden_field_tag :filtered_locale, params[:filtered_locale] if params[:filtered_locale].present? %>
        <%= hidden_field_tag :group, params[:group] if params[:group].present? %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search" %>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </nav>
</div>

<div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover" data-provides="rowlink">
        <thead>
          <tr>
            <th>Locale</th>
            <th>Key</th>
            <th class="text-center">Value</th>
            <th class="text-center">Interpolations</th>
            <th class="text-center">Created</th>
          </tr>
        </thead>
        <tbody id="translations">
          <% @translations.each do |translation| %>
            <%= render :partial => "weeler/translations/translation", locals: {translation: translation} %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <%= paginate @translations, params: {controller: "weeler/translations", action: "index", filtered_locale: params[:filtered_locale], group: params[:group] }, previous_label: "<<", next_label: ">>", theme: "weeler" %>
  </div>
</div>
