.header.container
  .row
    .col-lg-12
      .page-header
        %h1 Translation stats
        %p.lead.text-muted
          - if Settings.log_key_usage == 'true'
            = 'Translation usage stat gathering is ON'
          - else
            = 'Translation usage stat gathering is OFF'
        %p.lead.text-muted
          = link_to 'Back to Translation list', {action: :index}

.container
  .row
    .col-lg-12
      %table.table
        %thead
          %tr
            %th Usage
            %th Key
            %th text
        %tbody
          - @used_keys.each do |key, usage|
            %tr
              %td= usage
              %td= key.to_s.gsub('usage_stats/en/', '')
              %td= t(key.to_s.gsub('usage_stats/en/', ''))
