.navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.weeler{href: weeler_root_path}
        = Weeler
        %span.weeler_version= Gem.loaded_specs["weeler"].version
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - Weeler.main_menu_items.each do |item|
          %li{class: "#{'active' if @current_menu_item.downcase == item[:name].downcase}"}
            = link_to item[:name].humanize, "/#{Weeler.mount_location_namespace}/#{item[:weeler_path]}"
      - if Weeler.logout_path
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: Weeler.logout_path} Logout
