<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand weeler" href="<%= weeler_root_path %>">Weeler</a>
      <a class="navbar-text navbar-link" href="<%= weeler_root_path %>">Weeler</a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <%= navbar_link_to "Home", weeler_root_path %>
        <%= navbar_link_to "Content", weeler_content_path %>
        <%= navbar_link_to "Configurations", weeler_configurations_path %>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container --> 
</div><!-- /.navbar -->