<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= weeler_root_path %>">Weeler</a>

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if @current_menu_item == 'home' %>"><a href="<%= weeler_root_path %>">Home</a></li>
        <li class="<%= 'active' if @current_menu_item == 'content' %>"><a href="<%= weeler_content_path %>">Content</a></li>
        <li class="<%= 'active' if @current_menu_item == 'configurations' %>"><a href="<%= weeler_configurations_path %>">Configurations</a></li>
      </ul>
        <% if Weeler.logout_path %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="<%= Weeler.logout_path %>">Logout</a>
            </li>
          </ul>
        <% end %>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
